.navbar {
  font-size: 1rem;
}

.navbar-brand {
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #0d6efd;
}

.nav-link {
  color: #34495e !important;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #0d6efd !important;
}

.navbar .btn {
  border-radius: 20px;
  padding: 5px 15px;
}

@media (max-width: 768px) {
  .navbar .btn {
  width: 100px;
  }
}


